@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

.main-index {
  background-image: url(../multimedia/food-2879265_1920.jpg);
  background-position: center;
  background-size: cover;
}
.main-index .titulo-recetas {
  color: rgb(63, 91, 59);
  font-size: 60px;
  padding-top: 90px;
}
.main-index .div-main {
  height: 800px;
}
.main-index .div-main .cards {
  background: none;
  border: none;
}
.main-index .div-main .cards .textos-comidas {
  background-color: rgb(190, 229, 191);
  transition: all 0.2s;
}
.main-index .div-main .cards .textos-comidas:hover {
  background-color: rgb(190, 229, 191);
  transform: scale(1.12);
}
.main-index .div-main .cards .textos-comidas:hover a {
  color: white;
}
.main-index .div-main .cards .textos-comidas a {
  color: rgb(63, 91, 59);
  display: flex;
  font-size: 30px;
  background-color: transparent;
  border: none;
}
.main-index .div-main .cards .textos-comidas a:link {
  background-color: transparent;
  box-shadow: none;
}

.section-recetas {
  background-color: beige;
  height: 500px;
  font-size: 20px;
}
.section-recetas .section-overflow {
  overflow: hidden;
}

.navbar {
  background-color: rgb(190, 229, 191);
}
.navbar .navbar-brand {
  font-size: 80px;
  color: rgb(63, 91, 59) !important;
}
.navbar .navbar-nav a {
  font-size: 25px;
  color: rgb(63, 91, 59) !important;
}
.navbar .navbar-nav a:hover {
  color: white !important;
}

footer {
  height: 200px;
  border: 15px solid rgb(190, 229, 191);
  background-color: rgb(190, 229, 191);
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 2px black;
}
footer .redes a {
  color: white;
  text-decoration: none;
  font-size: 50px;
  letter-spacing: 20px;
  text-shadow: 1px 1px 2px black;
}

.main-recetas {
  background-color: beige;
  height: 170vh;
}
.main-recetas .section-recetas {
  min-height: 500px;
}
.main-recetas .section-recetas .galeria-recetas {
  display: grid;
  grid-template-columns: repeat(3, 275px);
  grid-template-rows: 300px 300px;
}
.main-recetas .section-recetas .galeria-recetas .item {
  background-size: cover;
  background-position: center;
  margin: 5px;
}
.main-recetas .section-recetas .galeria-recetas .item1 {
  background-image: url(../multimedia/comida1.jpg);
}
.main-recetas .section-recetas .galeria-recetas .item2 {
  background-image: url(../multimedia/comida2.jpg);
}
.main-recetas .section-recetas .galeria-recetas .item3 {
  background-image: url(../multimedia/comida3.jpg);
}
.main-recetas .section-recetas .galeria-recetas .item4 {
  background-image: url(../multimedia/comida4.jpg);
}
.main-recetas .section-recetas .galeria-recetas .item5 {
  background-image: url(../multimedia/comida5.jpg);
}
.main-recetas .section-recetas .galeria-recetas .item6 {
  background-image: url(../multimedia/comida6.jpg);
}

.height-carousel {
  height: 600px;
}

.main-novedades {
  background-color: beige;
  height: 1400px;
}

.main-nosotros {
  background-color: beige;
}
.main-nosotros .cards-nosotros {
  border: 1px black solid;
  background-color: transparent !important;
}

.main-contactanos {
  height: 150vh;
  background-color: beige;
}
.main-contactanos .correo {
  width: 484px;
}
.main-contactanos .numero1 {
  width: 65px;
}
.main-contactanos .numero2 {
  width: 416px;
}
.main-contactanos .contactanos-logos {
  text-decoration: none;
  font-size: 80px;
  text-align: center;
}
.main-contactanos .contactanos-logos a {
  color: rgb(63, 91, 59);
  text-decoration: none;
  font-size: 80px;
  letter-spacing: 20px;
}

.map {
  position: relative;
  left: 25%;
}

#pindelmapa {
  font-size: 90px;
  color: rgb(63, 91, 59);
}

@media only screen and (max-width: 1579px) {
  .main-recetas {
    height: 300vh;
  }
  .main-recetas .section-recetas {
    text-align: center;
  }
  .main-recetas .section-recetas .recetas-pais {
    width: 100%;
  }
  .main-recetas .section-recetas .galeria-recetas {
    margin: 0 auto;
    grid-template-columns: repeat(2, 370px);
    grid-template-rows: repeat(3, 250px);
  }
}
@media only screen and (max-width: 1300px) {
  .navbar-brand {
    width: 20%;
  }
}
@media only screen and (max-width: 1199px) {
  .main-contactanos {
    height: 170vh;
  }
  .main-contactanos .contactanos-div {
    text-align: center;
  }
}
@media only screen and (max-width: 1083px) {
  .navbar-brand {
    font-size: 50px;
  }
  .textos-comidas {
    margin: 0 0 40px 0px;
  }
  .textos-comidas:hover {
    transform: scale(1);
  }
  .section-recetas {
    font-size: 15px;
  }
}
@media only screen and (max-width: 991px) {
  .main-novedades {
    height: 2200px;
  }
}
@media only screen and (max-width: 880px) {
  .main-recetas {
    height: 380vh;
  }
  .main-recetas .galeria-recetas {
    margin: 0 auto;
    grid-template-columns: 320px !important;
    grid-template-rows: 300px 300px 300px 300px 300px !important;
  }
}
@media only screen and (max-width: 768px) {
  .titulorecetas {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .divmain {
    height: 2000px !important;
  }
  .mainnosotros {
    height: 5700px !important;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1000px) {
  .div-main {
    height: 400px !important;
  }
}
@media only screen and (max-width: 767px) {
  .titulo-recetas {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .div-main {
    height: 2100px !important;
  }
}
@media only screen and (max-width: 596px) {
  .main-contactanos {
    height: 150vh;
  }
  .main-contactanos #nombre {
    width: 49% !important;
  }
  .main-contactanos #apellido {
    width: 49%;
  }
  .main-contactanos .correo {
    width: 100% !important;
  }
  .main-contactanos .numero1 {
    width: 12% !important;
  }
  .main-contactanos .numero2 {
    width: 87% !important;
  }
  .main-contactanos .mensaje {
    display: none;
  }
}
@media only screen and (max-width: 531px) {
  .main-contactanos .numero1 {
    width: 15% !important;
  }
  .main-contactanos .numero2 {
    width: 80% !important;
  }
}
@media only screen and (max-width: 500px) {
  .div-main {
    height: 1500px;
  }
}

/*# sourceMappingURL=style.css.map */
