@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

.navbar {
  background-color: rgb(190, 229, 191);
}
.navbar .navbar-brand {
  font-size: 80px;
  color: rgb(63, 91, 59) !important;
}
.navbar .navbar-nav a {
  font-size: 25px;
  color: rgb(63, 91, 59) !important;
}
.navbar .navbar-nav a:hover {
  color: white !important;
}

.main-index {
  background-image: url(../multimedia/food-2879265_1920.jpg);
  background-position: center;
  background-size: cover;
}
.main-index .titulo-recetas {
  color: rgb(63, 91, 59);
  font-size: 60px;
  padding-top: 90px;
}
.main-index .div-main {
  height: 800px;
}
.main-index .div-main .cards {
  background: none;
  border: none;
}
.main-index .div-main .cards .textos-comidas {
  background-color: rgb(190, 229, 191);
  transition: all 0.2s;
}
.main-index .div-main .cards .textos-comidas a {
  color: rgb(63, 91, 59);
  display: flex;
  font-size: 30px;
  background-color: transparent;
  border: none;
}
.main-index .div-main .cards .textos-comidas a:link {
  background-color: transparent;
  box-shadow: none;
}
.main-index .div-main .cards .textos-comidas:hover {
  background-color: rgb(190, 229, 191);
  transform: scale(1.12);
}
.main-index .div-main .cards .textos-comidas:hover a {
  color: white;
}

.section-recetas {
  background-color: beige;
  height: 500px;
  font-size: 20px;
}
.section-recetas .section-overflow {
  overflow: hidden;
}

footer {
  height: 200px;
  border: 15px solid rgb(190, 229, 191);
  background-color: rgb(190, 229, 191);
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

footer .redes a {
  color: white;
  text-decoration: none;
  font-size: 50px;
  letter-spacing: 20px;
  text-shadow: 1px 1px 2px black;
}

@media only screen and (max-width: 1300px) {
  .navbar-brand {
    width: 20%;
  }
}
@media only screen and (max-width: 1083px) {
  .navbar-brand {
    font-size: 50px !important;
  }
  .textos-comidas {
    margin: 0 0 40px 0px !important;
  }
  .textos-comidas:hover {
    transform: scale(1) !important;
  }
  .section-recetas {
    font-size: 15px !important;
  }
}
@media only screen and (max-width: 991px) {
  .main-novedades {
    height: 2200px !important;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1000px) {
  .div-main {
    height: 400px !important;
  }
}
@media only screen and (max-width: 767px) {
  .titulo-recetas {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .div-main {
    height: 2000px !important;
  }
  .main-nosotros {
    height: 5700px !important;
  }
}
@media only screen and (max-width: 500px) {
  .div-main {
    height: 1500px !important;
  }
}
.main-recetas {
  background-color: beige;
  height: 170vh;
}
.main-recetas .section-recetas {
  min-height: 500px;
}
.main-recetas .section-recetas .galeria-recetas {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: 300px 300px;
}
.main-recetas .section-recetas .galeria-recetas .item {
  background-size: cover;
  background-position: center;
  margin: 5px;
}
.main-recetas .section-recetas .galeria-recetas .item1 {
  background-image: url(../multimedia/comida1.jpg);
}
.main-recetas .section-recetas .galeria-recetas .item2 {
  background-image: url(../multimedia/comida2.jpg);
}
.main-recetas .section-recetas .galeria-recetas .item3 {
  background-image: url(../multimedia/comida3.jpg);
}
.main-recetas .section-recetas .galeria-recetas .item4 {
  background-image: url(../multimedia/comida4.jpg);
}
.main-recetas .section-recetas .galeria-recetas .item5 {
  background-image: url(../multimedia/comida5.jpg);
}
.main-recetas .section-recetas .galeria-recetas .item6 {
  background-image: url(../multimedia/comida6.jpg);
}

/*# sourceMappingURL=style.css.map */
