.main-contactanos{
    height: 150vh;
    background-color: beige;
    .correo{
        width: 484px;
    }
    .numero1{
        width: 65px;
    }
    .numero2{
        width: 416px;
    }
    .contactanoslogos {    
        text-decoration: none;
        font-size: 80px;
        text-align: center;
        margin-top: 40px;
        a{
            color: rgb(63, 91, 59);
            text-decoration: none;
            font-size: 80px;
            letter-spacing: 20px;
        }
    }    
}



#pindelmapa{
    font-size: 90px;
    color: rgb(63, 91, 59);
}