.navbar{
    background-color: $backgroundNav;
    
        .navbar-brand{
            font-size: 80px;
            color: $colorHeader !important;
        }

            .navbar-nav a{
            font-size: 25px;
            color: $colorHeader !important;

                &:hover{
                    color: white !important;
            }
        }
}
