@media only screen and (max-width: 1579px) {
    .main-recetas {
        height: 300vh;

        .section-recetas {
            text-align: center;

            .recetas-pais {
                width: 100%;
            }

            .galeria-recetas {
                margin: 0 auto;
                grid-template-columns: repeat(2, 370px);
                grid-template-rows: repeat(3, 250px);
            }
        }
    }
}

@media only screen and (max-width: 1300px) {
    .navbar-brand {
        width: 20%;
    }
}

@media only screen and (max-width: 1199px) {
    .main-contactanos{
        height: 170vh;
        .contactanos-div{
            text-align: center;
        }
    }
}

@media only screen and (max-width: 1083px) {
    .navbar-brand {
        font-size: 50px;
    }

    .textos-comidas {
        margin: 0 0 40px 0px;

        &:hover {
            transform: scale(1);
        }
    }

    .section-recetas {
        font-size: 15px;
    }
}

@media only screen and (max-width: 991px) {
    .main-novedades {
        height: 2200px;
    }
}

@media only screen and (max-width: 880px) {
    .main-recetas {
        height: 380vh;

        .galeria-recetas {
            margin: 0 auto;
            grid-template-columns: 320px !important;
            grid-template-rows: 300px 300px 300px 300px 300px !important;
        }
    }
}

@media only screen and (max-width: 768px) {
    .titulorecetas {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .divmain {
        height: 2000px !important;
    }

    .mainnosotros {
        height: 5700px !important;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1000px) {
    .div-main {
        height: 400px !important;
    }
}

@media only screen and (max-width: 767px) {
    .titulo-recetas {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .div-main {
        height: 2100px !important;
    }
}

@media only screen and (max-width: 596px) {
    .main-contactanos{
        height: 150vh;
        #nombre{
            width: 49% !important;
        }
        #apellido{
            width: 49%;
        }
        .correo{
            width: 100% !important;
        }
        .numero1{
            width: 12% !important;
        }
        .numero2{
            width: 87% !important;
        }
        .mensaje{
            display: none;
        }
    }
}

@media only screen and (max-width: 531px) {
.main-contactanos{
    .numero1{
        width: 15% !important;
    }
    .numero2{
        width: 80% !important;
    }
}
}

@media only screen and (max-width: 500px) {
    .div-main {
        height: 1500px;
    }
}

