@media only screen and (max-width: 1579px) {
    .main-recetas {
        height: 300vh;
            .galeria-recetas {
                margin: 0 auto;
                grid-template-columns: repeat(2, 370px);
                grid-template-rows: repeat(3, 250px);
        }
    }
}

@media only screen and (max-width: 1300px) {
    .navbar-brand {
        width: 20%;
    }
}

@media only screen and (max-width: 1199px) {
    .main-contactanos{
        height: 170vh;
        .contactanos-div{
            text-align: center !important; 
            .boton-enviar{
                width: 100%;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 1083px) {
    .navbar-brand {
        font-size: 50px;
    }

    .textos-comidas {
        margin: 0 0 40px 0px;

        &:hover {
            transform: scale(1);
        }
    }

    .section-recetas {
        font-size: 20px;

        .galeria-recetas{
            width: 100%;
        }
        
        .form-paises{
            height: 440px;
            width: 100%;
            align-items: center;
            flex-flow: column wrap;

            .paises{
                width: 200px;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .main-novedades {
        height: 2200px;
    }
}

@media only screen and (max-width: 880px) {
    .main-recetas {
        height: 380vh;

        .galeria-recetas {
            justify-content: center;
            grid-template-columns: repeat(1, 1fr) !important;
            grid-template-rows: 300px 300px 300px 300px 300px !important;
        }
    }
}

@media only screen and (max-width: 768px) {
    .titulorecetas {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .divmain {
        height: 2000px !important;
    }

    .mainnosotros {
        height: 5700px !important;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1000px) {
    .div-main {
        height: 400px !important;
    }
}

@media only screen and (max-width: 767px) {
    .titulo-recetas {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .div-main {
        height: 2100px !important;
    }
}

@media only screen and (max-width: 596px) {
    .main-contactanos{
        height: 160vh;
        #nombre{
            width: 49% !important;
        }
        #apellido{
            width: 49%;
        }
        .correo{
            width: 100% !important;
        }
        .numero1{
            width: 12% !important;
        }
        .numero2{
            width: 87% !important;
        }
        .mensaje{
            display: none;
        }
    }
}

@media only screen and (max-width: 531px) {
    .form-paises{
        flex-wrap: nowrap !important;
        height: 700px !important;
    }

    .navbar-brand {
        font-size: 40px !important;
    }
    .main-contactanos{
        .numero1{
        width: 15% !important;
        }
        .numero2{
        width: 80% !important;
        }
}
}

@media only screen and (max-width: 500px) {
    .div-main {
        height: 1500px !important;
    }
}


