.main-recetas{
    background-image: $backgroundMains;
    height: 170vh;

    .section-recetas{
        min-height: 500px;
        background-color: transparent;

        .form-paises{
            display: flex;
            flex-direction: column;
        }

        .galeria-recetas{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 300px 300px;

            .item{
                background-size: cover;
                background-position: center;
                margin: 5px;
            }
            
            @for $incremento from 1 to 7{
                .item#{$incremento}{
                    background-image: url(../multimedia/comida#{$incremento}.jpg);
                }
            }
        }
    }
}

.height-carousel{
    height: 600px;
}