.main-nosotros{
    background-image: url(../multimedia/beige\ fondo.jpg);
    background-position: center;
    background-size: cover;
    
    .cards-nosotros{
        border: 1px black solid;
        background-color: $backgroundNav;
        margin: 10px;
        border-radius: 20px;

        .boton{
            background-color: $colorHeader !important;
            border: none;
            color: beige;

            &:link{
                box-shadow: none !important;
            }
        }
    }
}



