.main-nosotros{
    background-color: beige;
    
    .cards-nosotros{
        border: 1px black solid;
        background-color: $backgroundNav;
        margin: 10px;


        /* No lograba poner el    boton en el fondo de la card, por eso recurri a este metodo */
        .boton{                                 
            position: relative;
            top: 23px;
        }
        .botonL{
            position: relative;
            top: 47px;
        }
    }
}



